In [1]:
# Import dependancies 
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Locate data
Furano_Ski_Resort_to_load = "C:\\Users\\haley\\Desktop\\Snow_data_analysis\\Resources\\Furano_Ski_Resort.csv"

In [3]:
#Read the Craigieburn_Valley data
Furano_Ski_Resort_df = pd.read_csv(Furano_Ski_Resort_to_load)

In [4]:
Furano_Ski_Resort_df

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,631152000,1990-01-01 00:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,7.38,NaN,4.42,7.38,...,NaN,NaN,NaN,NaN,NaN,74,803,Clouds,broken clouds,04d
1,631155600,1990-01-01 01:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,12.74,NaN,9.25,12.74,...,NaN,NaN,NaN,NaN,NaN,54,803,Clouds,broken clouds,04d
2,631159200,1990-01-01 02:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,16.02,NaN,12.24,16.02,...,NaN,NaN,NaN,NaN,NaN,24,801,Clouds,few clouds,02d
3,631162800,1990-01-01 03:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,19.17,NaN,14.85,13.46,...,NaN,NaN,NaN,NaN,NaN,27,802,Clouds,scattered clouds,03d
4,631166400,1990-01-01 04:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,19.51,NaN,14.92,12.83,...,NaN,NaN,NaN,NaN,NaN,53,803,Clouds,broken clouds,04d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287587,1666465200,2022-10-22 19:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,40.41,NaN,38.55,36.73,...,10.80,NaN,NaN,NaN,NaN,27,802,Clouds,scattered clouds,03n
287588,1666468800,2022-10-22 20:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,41.07,NaN,40.28,38.28,...,8.75,NaN,NaN,NaN,NaN,81,803,Clouds,broken clouds,04n
287589,1666472400,2022-10-22 21:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,41.07,NaN,40.28,38.28,...,8.75,NaN,NaN,NaN,NaN,81,803,Clouds,broken clouds,04d
287590,1666476000,2022-10-22 22:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,43.92,NaN,43.12,41.58,...,8.75,NaN,NaN,NaN,NaN,81,803,Clouds,broken clouds,04d
287591,1666479600,2022-10-22 23:00:00 +0000 UTC,32400,Furano ski resort,43.324632,142.354126,46.18,NaN,42.53,43.25,...,11.43,NaN,1.0,NaN,NaN,100,500,Rain,light rain,10d

In [5]:
#Drop irrevelant columns
Furano_Ski_Resort_df = Furano_Ski_Resort_df.drop(columns=['timezone', 'lat', 'lon', 'dew_point', 'feels_like', 'pressure', 'sea_level', 'grnd_level', 'wind_speed', 'wind_deg', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_3h', 'clouds_all', 'weather_id', 'weather_icon'])

In [6]:
Furano_Ski_Resort_df = Furano_Ski_Resort_df.fillna(0)

In [7]:
Furano_Ski_Resort_df

,dt,dt_iso,city_name,temp,visibility,temp_min,temp_max,humidity,snow_1h,weather_main,weather_description
0,631152000,1990-01-01 00:00:00 +0000 UTC,Furano ski resort,7.38,0.0,7.36,10.62,86,0.0,Clouds,broken clouds
1,631155600,1990-01-01 01:00:00 +0000 UTC,Furano ski resort,12.74,0.0,12.74,12.74,84,0.0,Clouds,broken clouds
2,631159200,1990-01-01 02:00:00 +0000 UTC,Furano ski resort,16.02,0.0,16.02,16.02,83,0.0,Clouds,few clouds
3,631162800,1990-01-01 03:00:00 +0000 UTC,Furano ski resort,19.17,0.0,19.17,19.17,81,0.0,Clouds,scattered clouds
4,631166400,1990-01-01 04:00:00 +0000 UTC,Furano ski resort,19.51,0.0,19.51,19.51,80,0.0,Clouds,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
287587,1666465200,2022-10-22 19:00:00 +0000 UTC,Furano ski resort,40.41,0.0,40.41,40.41,93,0.0,Clouds,scattered clouds
287588,1666468800,2022-10-22 20:00:00 +0000 UTC,Furano ski resort,41.07,0.0,41.07,41.07,97,0.0,Clouds,broken clouds
287589,1666472400,2022-10-22 21:00:00 +0000 UTC,Furano ski resort,41.07,0.0,41.07,41.07,97,0.0,Clouds,broken clouds
287590,1666476000,2022-10-22 22:00:00 +0000 UTC,Furano ski resort,43.92,0.0,42.71,45.27,97,0.0,Clouds,broken clouds
287591,1666479600,2022-10-22 23:00:00 +0000 UTC,Furano ski resort,46.18,0.0,41.70,50.31,87,0.0,Rain,light rain

In [8]:
# Convert dt to usable Datetime for index
datetime_info = pd.to_datetime(Furano_Ski_Resort_df['dt'],unit='s')

In [9]:
# Set the index as datetime
Furano_Ski_Resort_datetime_index = Furano_Ski_Resort_df.set_index(datetime_info)
Furano_Ski_Resort_datetime_index

,dt,dt_iso,city_name,temp,visibility,temp_min,temp_max,humidity,snow_1h,weather_main,weather_description
dt,,,,,,,,,,,
1990-01-01 00:00:00,631152000,1990-01-01 00:00:00 +0000 UTC,Furano ski resort,7.38,0.0,7.36,10.62,86,0.0,Clouds,broken clouds
1990-01-01 01:00:00,631155600,1990-01-01 01:00:00 +0000 UTC,Furano ski resort,12.74,0.0,12.74,12.74,84,0.0,Clouds,broken clouds
1990-01-01 02:00:00,631159200,1990-01-01 02:00:00 +0000 UTC,Furano ski resort,16.02,0.0,16.02,16.02,83,0.0,Clouds,few clouds
1990-01-01 03:00:00,631162800,1990-01-01 03:00:00 +0000 UTC,Furano ski resort,19.17,0.0,19.17,19.17,81,0.0,Clouds,scattered clouds
1990-01-01 04:00:00,631166400,1990-01-01 04:00:00 +0000 UTC,Furano ski resort,19.51,0.0,19.51,19.51,80,0.0,Clouds,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
2022-10-22 19:00:00,1666465200,2022-10-22 19:00:00 +0000 UTC,Furano ski resort,40.41,0.0,40.41,40.41,93,0.0,Clouds,scattered clouds
2022-10-22 20:00:00,1666468800,2022-10-22 20:00:00 +0000 UTC,Furano ski resort,41.07,0.0,41.07,41.07,97,0.0,Clouds,broken clouds
2022-10-22 21:00:00,1666472400,2022-10-22 21:00:00 +0000 UTC,Furano ski resort,41.07,0.0,41.07,41.07,97,0.0,Clouds,broken clouds
2022-10-22 22:00:00,1666476000,2022-10-22 22:00:00 +0000 UTC,Furano ski resort,43.92,0.0,42.71,45.27,97,0.0,Clouds,broken clouds
2022-10-22 23:00:00,1666479600,2022-10-22 23:00:00 +0000 UTC,Furano ski resort,46.18,0.0,41.70,50.31,87,0.0,Rain,light rain

In [10]:
# Resample data to reduce 24 hourly rows to 1 daily row - also remove columns not needed 
resampled_df = Furano_Ski_Resort_datetime_index.resample('D').agg({'temp': 'mean', 'temp_min' : 'mean', 'temp_max' : 'mean', 'humidity' : 'mean', 'snow_1h' : 'sum'})

In [11]:
# Rename 'snow_1h' column to 'snowfall'
finished_df = resampled_df.rename(columns={"snow_1h" : "snowfall"})

In [12]:
finished_df

                 temp   temp_min   temp_max   humidity  snowfall
dt
1990-01-01  16.660000  15.244583  18.033750  89.333333      0.00
1990-01-02  17.540833  14.360417  21.155417  86.833333      0.00
1990-01-03  19.620833  17.889167  23.169167  89.958333      0.00
1990-01-04  19.095833  17.627917  21.530417  85.958333      1.48
1990-01-05  16.515417  14.749583  19.976667  81.333333      0.36
...               ...        ...        ...        ...       ...
2022-10-18  37.609167  36.472083  38.955417  90.166667      0.00
2022-10-19  39.690417  38.540000  41.299583  85.833333      0.00
2022-10-20  45.088333  43.848333  47.016250  81.125000      0.00
2022-10-21  51.448333  50.265000  53.244167  82.416667      0.00
2022-10-22  49.912500  48.950000  51.984167  88.041667      0.00

[11983 rows x 5 columns]

In [13]:
finished_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11983 entries, 1990-01-01 to 2022-10-22
Freq: D
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   temp      11983 non-null  float64
 1   temp_min  11983 non-null  float64
 2   temp_max  11983 non-null  float64
 3   humidity  11983 non-null  float64
 4   snowfall  11983 non-null  float64
dtypes: float64(5)
memory usage: 561.7 KB

In [14]:
# Round all columns to two decimal places
finished_df = finished_df[['temp', 'temp_min', 'temp_max', 'humidity', 'snowfall']].round(2)
finished_df

             temp  temp_min  temp_max  humidity  snowfall
dt
1990-01-01  16.66     15.24     18.03     89.33      0.00
1990-01-02  17.54     14.36     21.16     86.83      0.00
1990-01-03  19.62     17.89     23.17     89.96      0.00
1990-01-04  19.10     17.63     21.53     85.96      1.48
1990-01-05  16.52     14.75     19.98     81.33      0.36
...           ...       ...       ...       ...       ...
2022-10-18  37.61     36.47     38.96     90.17      0.00
2022-10-19  39.69     38.54     41.30     85.83      0.00
2022-10-20  45.09     43.85     47.02     81.12      0.00
2022-10-21  51.45     50.26     53.24     82.42      0.00
2022-10-22  49.91     48.95     51.98     88.04      0.00

[11983 rows x 5 columns]

In [15]:
# Export to CSV
finished_df.to_csv('./cleaned_Furano_Ski_Resort_df.csv')

In [16]:
# db_string used to connect to postgres
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/snow_data"

In [17]:
# create a Database engine to connect to postgres using the db_string
engine = create_engine(db_string)

In [18]:
finished_df.to_sql(name='Furano_Ski_Resort', con=engine)

983