In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read CSV as df
zermatt_df = pd.read_csv('./Zermatt_Ski_Resort.csv')

In [3]:
zermatt_df

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,631152000,1990-01-01 00:00:00 +0000 UTC,3600,Zermatt Ski Resort,46.02222,7.752275,14.31,NaN,2.12,14.31,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
1,631155600,1990-01-01 01:00:00 +0000 UTC,3600,Zermatt Ski Resort,46.02222,7.752275,4.96,NaN,-6.75,4.96,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
2,631159200,1990-01-01 02:00:00 +0000 UTC,3600,Zermatt Ski Resort,46.02222,7.752275,4.48,NaN,-7.56,4.48,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
3,631162800,1990-01-01 03:00:00 +0000 UTC,3600,Zermatt Ski Resort,46.02222,7.752275,2.21,NaN,-8.37,2.21,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
4,631166400,1990-01-01 04:00:00 +0000 UTC,3600,Zermatt Ski Resort,46.02222,7.752275,2.66,NaN,-8.27,2.66,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307212,1666465200,2022-10-22 19:00:00 +0000 UTC,7200,Zermatt Ski Resort,46.02222,7.752275,46.83,NaN,43.18,45.54,...,3.20,NaN,NaN,NaN,NaN,5,800,Clear,sky is clear,01n
307213,1666468800,2022-10-22 20:00:00 +0000 UTC,7200,Zermatt Ski Resort,46.02222,7.752275,44.98,NaN,40.14,43.52,...,2.93,NaN,0.19,NaN,NaN,22,500,Rain,light rain,10n
307214,1666472400,2022-10-22 21:00:00 +0000 UTC,7200,Zermatt Ski Resort,46.02222,7.752275,45.30,NaN,40.46,43.88,...,2.93,NaN,0.19,NaN,NaN,22,500,Rain,light rain,10n
307215,1666476000,2022-10-22 22:00:00 +0000 UTC,7200,Zermatt Ski Resort,46.02222,7.752275,43.32,NaN,38.52,41.61,...,2.93,NaN,0.19,NaN,NaN,22,500,Rain,light rain,10n
307216,1666479600,2022-10-22 23:00:00 +0000 UTC,7200,Zermatt Ski Resort,46.02222,7.752275,42.85,NaN,38.37,40.78,...,3.38,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n

In [4]:
# Drop Irrelevant columns
zermatt_df = zermatt_df.drop(columns=['timezone', 'lat', 'lon', 'visibility', 'dew_point', 'feels_like', 'pressure', 'sea_level', 'grnd_level', 'wind_speed', 'wind_deg', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_3h', 'clouds_all', 'weather_id', 'weather_icon'])
zermatt_df

,dt,dt_iso,city_name,temp,temp_min,temp_max,humidity,snow_1h,weather_main,weather_description
0,631152000,1990-01-01 00:00:00 +0000 UTC,Zermatt Ski Resort,14.31,10.65,19.18,54,NaN,Clear,sky is clear
1,631155600,1990-01-01 01:00:00 +0000 UTC,Zermatt Ski Resort,4.96,4.96,4.96,54,NaN,Clear,sky is clear
2,631159200,1990-01-01 02:00:00 +0000 UTC,Zermatt Ski Resort,4.48,4.48,4.48,53,NaN,Clear,sky is clear
3,631162800,1990-01-01 03:00:00 +0000 UTC,Zermatt Ski Resort,2.21,2.21,2.21,57,NaN,Clear,sky is clear
4,631166400,1990-01-01 04:00:00 +0000 UTC,Zermatt Ski Resort,2.66,2.66,2.66,56,NaN,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...
307212,1666465200,2022-10-22 19:00:00 +0000 UTC,Zermatt Ski Resort,46.83,41.40,48.67,87,NaN,Clear,sky is clear
307213,1666468800,2022-10-22 20:00:00 +0000 UTC,Zermatt Ski Resort,44.98,41.09,46.65,83,NaN,Rain,light rain
307214,1666472400,2022-10-22 21:00:00 +0000 UTC,Zermatt Ski Resort,45.30,39.60,47.66,83,NaN,Rain,light rain
307215,1666476000,2022-10-22 22:00:00 +0000 UTC,Zermatt Ski Resort,43.32,39.60,44.65,83,NaN,Rain,light rain
307216,1666479600,2022-10-22 23:00:00 +0000 UTC,Zermatt Ski Resort,42.85,39.60,44.28,84,NaN,Clouds,overcast clouds

In [5]:
# Fill Nan with 0
zermatt_df = zermatt_df.fillna(0)
zermatt_df

,dt,dt_iso,city_name,temp,temp_min,temp_max,humidity,snow_1h,weather_main,weather_description
0,631152000,1990-01-01 00:00:00 +0000 UTC,Zermatt Ski Resort,14.31,10.65,19.18,54,0.0,Clear,sky is clear
1,631155600,1990-01-01 01:00:00 +0000 UTC,Zermatt Ski Resort,4.96,4.96,4.96,54,0.0,Clear,sky is clear
2,631159200,1990-01-01 02:00:00 +0000 UTC,Zermatt Ski Resort,4.48,4.48,4.48,53,0.0,Clear,sky is clear
3,631162800,1990-01-01 03:00:00 +0000 UTC,Zermatt Ski Resort,2.21,2.21,2.21,57,0.0,Clear,sky is clear
4,631166400,1990-01-01 04:00:00 +0000 UTC,Zermatt Ski Resort,2.66,2.66,2.66,56,0.0,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...
307212,1666465200,2022-10-22 19:00:00 +0000 UTC,Zermatt Ski Resort,46.83,41.40,48.67,87,0.0,Clear,sky is clear
307213,1666468800,2022-10-22 20:00:00 +0000 UTC,Zermatt Ski Resort,44.98,41.09,46.65,83,0.0,Rain,light rain
307214,1666472400,2022-10-22 21:00:00 +0000 UTC,Zermatt Ski Resort,45.30,39.60,47.66,83,0.0,Rain,light rain
307215,1666476000,2022-10-22 22:00:00 +0000 UTC,Zermatt Ski Resort,43.32,39.60,44.65,83,0.0,Rain,light rain
307216,1666479600,2022-10-22 23:00:00 +0000 UTC,Zermatt Ski Resort,42.85,39.60,44.28,84,0.0,Clouds,overcast clouds

In [6]:
#Check info
zermatt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307217 entries, 0 to 307216
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dt                   307217 non-null  int64
 1   dt_iso               307217 non-null  object
 2   city_name            307217 non-null  object
 3   temp                 307217 non-null  float64
 4   temp_min             307217 non-null  float64
 5   temp_max             307217 non-null  float64
 6   humidity             307217 non-null  int64
 7   snow_1h              307217 non-null  float64
 8   weather_main         307217 non-null  object
 9   weather_description  307217 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 23.4+ MB

In [7]:
# Convert dt to usable Datetime for index
datetime_info = pd.to_datetime(zermatt_df['dt'], unit='s')

In [8]:
# Set the index as datetime
zermatt_datetime_df = zermatt_df.set_index(datetime_info)
zermatt_datetime_df

,dt,dt_iso,city_name,temp,temp_min,temp_max,humidity,snow_1h,weather_main,weather_description
dt,,,,,,,,,,
1990-01-01 00:00:00,631152000,1990-01-01 00:00:00 +0000 UTC,Zermatt Ski Resort,14.31,10.65,19.18,54,0.0,Clear,sky is clear
1990-01-01 01:00:00,631155600,1990-01-01 01:00:00 +0000 UTC,Zermatt Ski Resort,4.96,4.96,4.96,54,0.0,Clear,sky is clear
1990-01-01 02:00:00,631159200,1990-01-01 02:00:00 +0000 UTC,Zermatt Ski Resort,4.48,4.48,4.48,53,0.0,Clear,sky is clear
1990-01-01 03:00:00,631162800,1990-01-01 03:00:00 +0000 UTC,Zermatt Ski Resort,2.21,2.21,2.21,57,0.0,Clear,sky is clear
1990-01-01 04:00:00,631166400,1990-01-01 04:00:00 +0000 UTC,Zermatt Ski Resort,2.66,2.66,2.66,56,0.0,Clear,sky is clear
...,...,...,...,...,...,...,...,...,...,...
2022-10-22 19:00:00,1666465200,2022-10-22 19:00:00 +0000 UTC,Zermatt Ski Resort,46.83,41.40,48.67,87,0.0,Clear,sky is clear
2022-10-22 20:00:00,1666468800,2022-10-22 20:00:00 +0000 UTC,Zermatt Ski Resort,44.98,41.09,46.65,83,0.0,Rain,light rain
2022-10-22 21:00:00,1666472400,2022-10-22 21:00:00 +0000 UTC,Zermatt Ski Resort,45.30,39.60,47.66,83,0.0,Rain,light rain
2022-10-22 22:00:00,1666476000,2022-10-22 22:00:00 +0000 UTC,Zermatt Ski Resort,43.32,39.60,44.65,83,0.0,Rain,light rain
2022-10-22 23:00:00,1666479600,2022-10-22 23:00:00 +0000 UTC,Zermatt Ski Resort,42.85,39.60,44.28,84,0.0,Clouds,overcast clouds

In [9]:
# Reduce rows to show per day instead of per hour while getting rid of unnessessary columns
resampled_df = zermatt_datetime_df.resample('D').agg({'temp': 'mean', 'temp_min' : 'mean', 'temp_max' : 'mean', 'humidity' : 'mean', 'snow_1h' : 'sum'})
resampled_df

                 temp   temp_min   temp_max   humidity  snow_1h
dt
1990-01-01   6.010833   5.083333   7.022083  50.625000      0.0
1990-01-02  11.836667   6.290833  16.165000  51.875000      0.0
1990-01-03  14.338750   6.499167  19.585833  42.875000      0.0
1990-01-04  15.160417   5.296667  20.412917  44.750000      0.0
1990-01-05  13.714583   5.184583  18.522917  44.166667      0.0
...               ...        ...        ...        ...      ...
2022-10-18  50.547917  44.430417  53.479167  69.166667      0.0
2022-10-19  52.287500  43.855833  54.810833  42.291667      0.0
2022-10-20  48.567083  43.595000  50.212500  74.250000      0.0
2022-10-21  45.998750  42.572500  47.432500  97.375000      0.0
2022-10-22  47.584167  44.034583  49.807500  85.250000      0.0

[11983 rows x 5 columns]

In [10]:
# Rename snow_1 to snowfall
zermatt_cleaned_df = resampled_df.rename(columns={"snow_1h" : "snowfall"})
zermatt_cleaned_df

                 temp   temp_min   temp_max   humidity  snowfall
dt
1990-01-01   6.010833   5.083333   7.022083  50.625000       0.0
1990-01-02  11.836667   6.290833  16.165000  51.875000       0.0
1990-01-03  14.338750   6.499167  19.585833  42.875000       0.0
1990-01-04  15.160417   5.296667  20.412917  44.750000       0.0
1990-01-05  13.714583   5.184583  18.522917  44.166667       0.0
...               ...        ...        ...        ...       ...
2022-10-18  50.547917  44.430417  53.479167  69.166667       0.0
2022-10-19  52.287500  43.855833  54.810833  42.291667       0.0
2022-10-20  48.567083  43.595000  50.212500  74.250000       0.0
2022-10-21  45.998750  42.572500  47.432500  97.375000       0.0
2022-10-22  47.584167  44.034583  49.807500  85.250000       0.0

[11983 rows x 5 columns]

In [11]:
# Round the dataframe to 2 decimal places
zermatt_cleaned_df = zermatt_cleaned_df[['temp', 'temp_min', 'temp_max', 'humidity', 'snowfall']].round(2)
zermatt_cleaned_df

             temp  temp_min  temp_max  humidity  snowfall
dt
1990-01-01   6.01      5.08      7.02     50.62       0.0
1990-01-02  11.84      6.29     16.16     51.88       0.0
1990-01-03  14.34      6.50     19.59     42.88       0.0
1990-01-04  15.16      5.30     20.41     44.75       0.0
1990-01-05  13.71      5.18     18.52     44.17       0.0
...           ...       ...       ...       ...       ...
2022-10-18  50.55     44.43     53.48     69.17       0.0
2022-10-19  52.29     43.86     54.81     42.29       0.0
2022-10-20  48.57     43.60     50.21     74.25       0.0
2022-10-21  46.00     42.57     47.43     97.38       0.0
2022-10-22  47.58     44.03     49.81     85.25       0.0

[11983 rows x 5 columns]

In [12]:
# Export to CSV
zermatt_cleaned_df.to_csv('./cleaned_zermatt.csv')

In [ ]:
# db_string used to connect to postgres
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/snow_data"

In [ ]:
# create a Database engine to connect to postgres using the db_string
engine = create_engine(db_string)

In [ ]:
zermatt_cleaned_df.to_sql(name='zermatt', con=engine)